/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: rgb(73,73,222);
background: radial-gradient(circle, rgba(73,73,222,1) 0%, rgba(34,100,164,1) 18%, rgba(190,208,212,0.9962359943977591) 100%);
}